/* start - all pages */
* {
  box-sizing: border-box;
}

h1, .poem, #def-title, #poe-title, #book-title, #lyr-title, #video-title, #beginning {
  font-family: 'Courier', serif;
}
  
body {
  font-family: 'Helvetica', sans-serif;
  color: #606060;
  font-weight: 349;
}

#def-sent-title, #poem-sent-title, #lyr-sent-title, .video-title {
  font-size: medium;
}

h1 {
  font-weight: 400;
}

form {
  text-align: center;
}

i.fa {
  display: inline;
  position: relative;
}

.hidden {
  display: none;
}

#js-error-message {
  font-size: small;
  font-weight: 360;
  color: #4b4bf3;
  text-align: left;
  background-color: #e0e0e0;
  width: 100%;
  padding: 6px;
}
/* end - all pages */

/* start - index.html */
#container-index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h2 {
  text-align: center;  
  width: 51%;
  margin: 0 auto;
  font-weight: 300;
  font-size:  medium;
  margin-bottom: 9px;
}

.button-container-index {
  padding-top: 21px;
}

.button {
  border: 1px solid #ffffff;
  background-color: #e0e0e0;
  padding: 6px 15px 6px 15px;
  color: #606060;
  font-weight: 340;
  border-radius: .2em;
}

.button:hover {
  border: 1px solid #606060;
}

.button:active {
  border: 1px solid #0080ff;
}

.button:focus {
  outline: 0;
}

.hr-poem {
  border: .5px solid #a0a0a0;
  width: 30%;
  margin: 9% 0 3% 0;
}

.poem {
  text-align: center;  
  width: 30%;
  margin: 0 auto;
}

.poem p {
  display: inline-block;
  text-align: left;
}
/* end - index.html */

/* start - result.html */
#container-result {
  margin: 6%;
}

.container-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.button-container-result {
  text-align: left;
}

.container-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 6% 0 0 0;
}

.title {
  font-size: x-large;
  font-weight: 540;
  margin: 0 0 18px 0;
}

.text {
  margin: 0 0 18px 0;
}

#poem-word {
  color: #9e9e9e;
}

/* poem 'show more' */
.fulltext p, .less {
	display: none;
}

/* poem 'show more' */
.fulltext:target p, .fulltext:target .less {
	display: block;
}

/* poem 'show more' */
.fulltext:target .more {
	display: none;
}

#lyrics-word {
  color: #9e9e9e;
}

#video-word {
  color: #9e9e9e;
}

.book-con {
  margin: 0 0 18px 0;
}

#book-title {
  font-size: x-large;
  font-weight: 540;
  margin: 0 0 18px 0;
}

.book-hidden {
  display: none;
}

.book-border {
  border: 1px solid #606060;
}

.video-con {
  margin: 0 0 12px 0;
}

.song-title {
  font-size: larger;
  font-weight: 300;
  margin: 0 0 12px 0;
}

#yt {
  font-weight: 500;
}

#yt-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 1000px;
}

#yt-container iframe, .yt-container object, .yt-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hr-words {
  border: .5px solid #a0a0a0;
  width: 30%;
  margin: 21% 0 3% 0;
}

#word-links:active {
  color: #0080ff;
}

#beginning, #end {
  color: #606060;
  font-weight: 600;
}

#beginning:active {
  color: #0080ff;
}

#e-b {
  font-size: xx-large;
}

@media only screen and (max-width: 320px) {

  .book-cover {
    margin: 0 0 12px 0;
  }

  .book-cover:last-of-type {
    margin: 0;
  }

  .title {
    font-size: large;
    font-weight: 540;
    margin: 0 0 18px 0;
  }
}
/* end - result.html */