/* start - all pages */
* {
  box-sizing: border-box;
}
  
body {
  font-family: 'Helvetica', sans-serif;
  color: #606060;
  font-weight: 349;
}

h1 {
  font-weight: 400;
}

form {
  text-align: center;
}

i.fa {
  display: inline;
  position: relative;
}

.hidden {
  display: none;
}

#js-error-message {
  font-size: small;
  font-weight: 360;
  color: #4b4bf3;
  text-align: left;
  background-color: #e0e0e0;
  width: 100%;
  padding: 6px;
}
/* end - all pages */

/* start - index.html */
#container-index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.button-container-index {
  padding-top: 21px;
}

.button {
  border: 1px solid #ffffff;
  background-color: #e0e0e0;
  padding: 6px 15px 6px 15px;
  color: #606060;
  font-weight: 340;
  border-radius: .2em;
}

.button:hover {
  border: 1px solid #606060;
}

.button:active {
  border: 1px solid #0080ff;
}

.button:focus {
  outline: 0;
}

.hr-poem {
  border: .5px solid #a0a0a0;
  width: 30%;
  margin: 9% 0 3% 0;
}

.poem {
  text-align: center;  
  width: 30%;
  margin: 0 auto;
}

.poem p {
  display: inline-block;
  text-align: left;
}
/* end - index.html */

/* start - result.html */
.container-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

#container-result {
  margin: 12px 0 0 12px;
}

.search-result {
  justify-content: center;
  border-radius: 3em;
  width: 100%;
  border: 1px solid #c0c0c0;
}

.button-container-result {
  text-align: left;
  margin: 6px 0 0 24px;
}

#day {
  position: relative;
  border: none;
  color: #606060;
  outline: none;
  width: 51%;
}

.container-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 33px 0 0 24px;
}

.title {
  font-size: x-large;
  font-weight: 540;
  margin: 0 0 12px 0;
}

#new-title2-3, #new-title2-6 {
  font-weight: 500;
}

#yt {
  font-weight: 500;
}

.youtube-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%; }

.youtube-container iframe, .youtube-container object, .youtube-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.text {
  margin: 0 0 12px 0;
}

.lyr-text {
  margin: 0 0 12px 0;
}

.book-con {
  margin: 0 0 12px 0;
}

.book-border {
  border: 1px solid #606060;
}

.song-title {
  font-size: larger;
  font-weight: 300;
  margin: 0 0 12px 0;
}

.video-con {
  margin: 0 0 12px 0;
}

@media only screen and (max-width: 320px) {

  .book-cover {
    margin: 0 0 12px 0;
  }

  .book-cover:last-of-type {
    margin: 0;
  }
}

/* end - result.html */